body {
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
}

    .site-header a {
        color: #999;
        text-decoration: none;
        transition: ease-in-out color font-weight .30s;
    }

        .site-header a:hover {
            color: white;
            font-weight: bold;
        }

.div-msg {
    width: 70%;
}

.div-login {
    width: 30%;
}

    .div-login .div-login-dark {
        border-radius: 21px;
    }

        .div-login .div-login-dark .login-area {
            padding-top: 100%;
        }


            .div-login .div-login-dark .login-area input {
                width: 80%;
                margin: auto;
            }

            .div-login .div-login-dark .login-area button {
                width: 30%;
                margin: auto;
            }

.div-msg .text-box {
    color: darkgrey;
}
